/* Root */
:root {
    --grey-500: #86A2A5;
    --grey-900: #2A4144;
    --white: white;
    --green-200: #E0F1E8;
    --green-600: #0C7D69;
    --red-error: #D73C3C;

    --spacing-100: 8px;
    --spacing-150: 12px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
}

/* General */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: var(--spacing-400) var(--spacing-200);
    font-family: "Karla", sans-serif;
    font-size: 16px;
    color: var(--grey-900);
    background-color: var(--green-200);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main Section */
main {
    background-color: var(--white);
    padding: var(--spacing-300);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
    flex-grow: 1;
    max-width: 480px;
}

h1 {
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 100%;
}

/* Form Section */
form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

#submit-btn {
    background-color: var(--green-600);
    padding: var(--spacing-200) var(--spacing-500);
    border-radius: 8px;
    font-family: inherit;
    color: var(--white);
    font-size: 18px;
    font-weight: bold;
    line-height: 150%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submit-btn:hover {
    background-color: #063E34;
}

/* Div Styles */
.input-div, .query-div, .textarea-div {
    display: flex;
    flex-direction: column;
}

.textarea-div, .checkbox-div {
    margin-bottom: var(--spacing-200);
}

.input-div, .textarea-div {
    gap: var(--spacing-100);
}

.query-div {
    border: none;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: var(--spacing-300);
}

.radio-div {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    border: 1px solid var(--grey-500);
    border-radius: 8px;
    padding: 12px var(--spacing-300);
    font-size: 18px;
    line-height: 150%;
    font-family: inherit;
    color: var(--grey-900);
    transition: background-color 0.3s ease, border 0.3s ease;
}

.radio-div:has(input:checked) {
    background-color: var(--green-200);
    border: 1px solid var(--green-600);
}

.checkbox-div {
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
    padding-right: var(--spacing-200);
}

/* Label Styles */
.main-label {
    line-height: 150%;
}

.checkbox-div label {
    cursor: pointer;
}

.star-span {
    color: var(--green-600);
    margin-left: 5px;
}

legend {
    margin-bottom: 16px;
}

/* Input Styles */
.input-div input, textarea {
    border: 1px solid var(--grey-500);
    border-radius: 8px;
    padding: 12px var(--spacing-300);
    font-size: 18px;
    line-height: 150%;
    font-family: inherit;
    color: var(--grey-900);
    transition: border 0.3s ease;
}

.input-div input:hover, textarea:hover, .radio-div:hover,
.input-div input:focus, textarea:focus {
    border: 1px solid var(--green-600);
    outline: none;
}

.radio-div input {
    appearance: none;
    -webkit-appearance: none;
    width: 19.5px;
    height: 19.5px;
    opacity: 0.5;
    border: 1.8px solid var(--grey-500);
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.radio-div input:checked {
    border: none;
    opacity: 1;
    background: url("./images/icon-radio-selected.svg") center/contain no-repeat;
}

textarea {
    height: 240px;
}

.checkbox-div input {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 1.6px solid var(--grey-500);
    border-radius: 2px;
    cursor: pointer;
    flex-shrink: 0;
}

.checkbox-div input:checked {
    border: none;
    background: url("./images/icon-checkbox-check.svg") center/contain no-repeat;
}

/* Tablet Responsive Styles */
@media screen and (min-width: 630px) {
    body {
        padding: var(--spacing-500);
    }

    main {
        max-width: 690px;
        padding: var(--spacing-500);
    }

    .grid {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;
    }

    textarea {
        height: 132px;
    }
}

/* Desktop Responsive Styles */
@media screen and (min-width: 920px) {
    main {
        max-width: 736px;
    }

    textarea {
        height: 105px;
    }
}